form{
	padding:1% 18%;
	width:60%;
	margin:0%
}

input{
	margin:2%;
	padding:2%;
	width:96%;
	outline:none;
	border:1px solid gainsboro;
}
.form_halfed{
	width:49.5%;
  float:right;
  margin-right:0;
}
input:hover{
	border:none;
	border-bottom:1px solid #d92121;
}
input[type=submit]{
	margin:3% 15%;
	width: 74%;
}
input[type=submit]:hover{
	background-color:#d92121;
	color:white;
}
input:required {
	border:1px solid red;
	background-color:white;

}
input:invalid {
	border:1px solid red;
	background-color:#28495b;
}

textarea::placeholder{
	opacity:1;
	font-size:14px;
	padding:5px;
}
input[type=checkbox]{
	display:inline;
	width:5%;
}
select{
	width:100%;
	outline:none;
  border:none;
  margin-top:2%;
  margin-top:2%;
  margin-left:2%;
  margin-right:5%;
	height:25px;
}

@media screen and (max-width:600px){
  form{
    padding:5% 7%;
    width:80%;
  }
  .form_halfed{
    float:none;
    width:100%
  }
}
@media screen and (max-width: 1040px) and (min-width:601px){
  .form_halfed{
    float:none;
    width:100%
	}

}
