.nav_tabs{
	list-style-type: none;
	padding:0;
	margin:0;
	float:right;

}
a{
	text-decoration: none;
	color:black;
}
.nav_horizontal{
	float:left;
	display: block;
	padding:5vh 0.5vw;
}

.nav_menuButton{
	padding:2vh 2vw;
	border:none;
	text-decoration:none;
	font-weight:bold;
}
.nav_active{
	background-color:#d92121;
	padding:2vh 2vw;
	text-decoration:none;
	border:none;
	font-size:16px;
	color:white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.nav_menuButton:hover{
	color:white;
	border-bottom:2px solid #d92121;
	border-radius:5px;
}

.nav_headButton{
	float:left;
	text-decoration:none;
	composes: white from ".nav_/color.nav_css";
	padding-right:1.nav_5vw;
}
.nav_headButton:hover{
	color:#ef7c0b;
}
.nav_topMenu{
	composes:tabs;
	float:right;

}
.nav_footerButton{
	display:inline-block;
	text-decoration:none;
	float:left;
	padding:1vh 2vw;
	composes: light from ".nav_/color.nav_css";
}
.nav_footerButton:hover{
	color:#ef7c0b;

}
.nav_footer{
	composes:tabs;
	float:none;
}
.nav_icon{
	display:none;
}
@media screen and (max-width: 600px) {
	.nav_tabs > .nav_horizontal:not(:first-child):not(:nth-child(2)) {
		display: none;
	}
	.nav_tabs {
		float:right;
	}

	.nav_icon {
	background:initial;
	display: block;
	}
	.nav_vertical,.nav_vertical a{
		width:200px;
		display:block;
	}

}