.nav_tabs, .nav_tabs_small{
	list-style-type: none;
	padding:0;
	margin:0;

}
.nav_tabs{
  float:right;
}
.nav_tabs_small{
  display:none
}
a{
	text-decoration: none;
  color:black;
}
.nav_horizontal{
	float:left;
	padding:5vw 0.5vw;
}
.nav_menuButton{
	padding:2vh 2vw;
	border:none;
	color:white;
	text-decoration:none;
	font-weight:bold;
}
.nav_active{
	background-color:#d92121;
	padding:2vh 2vw;
	text-decoration:none;
	border:none;
	font-size:16px;
	color:white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.nav_menuButton:hover{
	color:black;
	border-bottom:2px solid #d92121;
	border-radius:5px;
}
.nav_icon{
	display:none;
}

@media screen and (max-width: 600px) {
	.nav_tabs_small {
		display:block;
  }
  .nav_horizontal_small{
    float:left;
    padding:2vw 5vw;
		width:70%;
		border-bottom:0.5px solid #28495b;
    height:6vw;
    outline:none;
    font-size:16px;
    background-color:#d92121;
    opacity:0.7
  }
  .nav_horizontal_small:hover{
    background-color:#28495b;
  }
  .nav_horizontal_small:not(:first-of-type){
    width:90vw;

  }

	.nav_icon {
	background:initial;
	display: block;

  }
}
@media screen and (min-width: 601px) and (max-width :875px){
	.nav_horizontal{
		padding: 6vw 0.5vw;
	}
	.nav_menuButton{
		padding-left :0.5vw;
		padding-right :0.5vw;
	}
}