.others_img{
    width:15vw;
    min-height:13vw;
}
.others_img2{
	width:60%;
	height:8vw;
	display:block;
	padding:5% 5%;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.others_img2:hover{
  background-color:#28495b;
}
.others_logo{
  width:95%;
	height:50%;
}

.others_textArea{
  width:53%;
  float:right;
  margin-top:2%;
  margin-bottom:2%;
  margin-left:2%;
	outline:none;
	border:none;
}
.others_textArea2{
	width:100%;
	margin:2%;
	outline:none;
	border:none;
}
.others_profile{
	text-align:left;
	font-size:18px;
	font-weight:normal;
	padding-top:10%;
}
.others_fix{
  width:98%
}
.others_fullName{
  display:none;
}
@media screen and (max-width: 600px){
  .others_logo{
    width:32vw;
    height:8vw;
  }
  .others_img3{
    width:50%;
    padding:10%;
    margin-left:10%;
  }
  .others_profile{
    padding-left:5vw;
  }
  .others_img{
    width:30vw
  }
  .others_textArea{
    float:none;
    margin-left:2%;
    width:104%;
  }

}
@media screen and (max-width: 1040px){
  .others_img{
    width:20vw
  }
  .others_textArea{
    float:none;
    margin-left:2%;
    width:104%;
  }

}
